.DS_Store

aws/Aws/*
!CurlFactory.php
aws/GuzzleHttp/*
!*/CurlFactory.php
aws/JmesPath/*
aws/Psr/*
aws/Symfony/*

settings.php

composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
